body {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-size: medium;
	font-family: arial, sans-serif;
}
.body {
	max-width: 1440px;
	margin: auto;
}
.main {
}
/*---------------header----------*/
.header {
}
.nav {
}
.ul_header {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	list-style-type: none;
	font-size: 120%;
}
.li_header {
	padding: 20px 20px 20px 20px;
}
.li1 {
	font-size: 300%;
	padding-top: 0px;
	color: #0f7a0d;
	margin-right: 150px;
}
.li_end {
	margin-right: 30px;
	padding: 10px 20px 10px 20px;
	border: 3px solid #0f7a0d;
	border-radius: 50px;
	margin-left: 50px;
}
.li_end:hover {
	background-color: #daf7da;
}
.a_header {
	text-decoration: none;
	color: #000;
}
.a_header:hover {
	color: #0f7a0d;
}
@media only screen and (max-width: 1120px){
	.ul_header {
		justify-content: space-around;
	}
	.li1 {
		margin-right: 0px;
	}
	.li_end {
		margin-left: 0px;
	}
}
@media only screen and (max-width: 920px){
	.ul_header {
		flex-wrap: wrap;
		justify-content: center;
	}
	.li_end {
		margin-bottom: 25px
	}
}
@media only screen and (max-width: 920px) {
	.ul_header {
		display: none;
	}
}
/*-------------input-----------*/
#check_menu {
	display: none;
}
.label_menu {
	display: none;
}
.a_main_menu {
	display: none;
}
@media only screen and (min-width: 920px) {
	.logo_adap_menu {
		display: none;
	}
}
@media only screen and (max-width: 920px) {
	.logo_adap_menu {
		position: absolute;
		font-size: 200%;
		left: 15px;
	}
	.adap_menu {
		width: 100%;
		height: 40px;
		background: linear-gradient(to right, /*45deg,*/ #0f7a0d, #fff);
		position: fixed;
		text-align: center;
	}
	#check_menu {
		display: none;
	}
	.label_menu {
		display: block;
		line-height: 40px;
		cursor: pointer;
		z-index: 2;
		width: 100%;
		height: 100%;
		position: absolute;
		right: 0;
		top: 0;
	}
	.main_menu {
		display: block;
		position: absolute;
		width: 100%;
		bottom: 0;
		left: 0px;
		transform: translateY(100%);
		max-height: 0;
		overflow: hidden;
		transition: .7s all;
	}
	.a_main_menu {
		display: block;
		text-decoration: none;
		color: #000;
		width: 100%;
		background: linear-gradient(to right, #0f7a0d, #fff);
		background-color: #0f7a0d;
		border-top: 1px solid rgba(255, 255, 255, 0.3);
		padding: 10px 0px 10px 0px;
	}
	.burger_line {
		position: absolute;
		top: 8px;
		right: 15px;
		width: 35px;
		height: 2px;
		background-color: #fff;
		transition: .5s all;
	}
	#check_menu:checked ~ .main_menu {
		max-height: 500px;
	}
	#check_menu:checked ~ .first {
		display: none;
	}
	#check_menu:checked ~ .fourth {
		display: none;
	}
	#check_menu:checked ~ .second {
		transform: rotate(45deg);
	}
	#check_menu:checked ~ .third {
		transform: rotate(-45deg);
	}
	.first {
		background-color: #000;
	}
	.second, .third {
		top: 18px;
		background-color: #000;
	}
	.fourth {
		top: 28px;
		background-color: #000;
	}
}
/*//////////////////////////////////////*/
.header2 {
	display: flex;
	justify-content: space-around;
}
.header_box {
}
.header_logo1 {
}
.header_img1 {
	width: 300px;
}
.header_box2 {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
.header_text {
	display: flex;
	flex-direction: column;
}
.header_text1 {
	color: #0f7a0d;
	font-size: 140%;
}
.header_text2 {
	font-size: 400%;
	padding-top: 50px;
}
.header_logo2 {
	display: flex;
}
.header_img2 {
	width: 250px;
}
.header_img2_2 {
	padding-right: 2px;
}
@media only screen and (max-width: 1120px){
	.header2 {
		flex-direction: column;
		align-items: center;
		padding-top: 25px;
	}
	.header_box2 {
		flex-direction: row;
		align-items: center;
		justify-content: space-around;
		margin-top: 25px
	}
	.header_text {
		margin-right: 25px;
		margin-left: 25px
	}
	.header_text1 {
		font-size: 120%;
		line-height: 1.4em;
	}
	.header_text2 {
		padding-top: 25px;
		font-size: 250%;
	}
	.header_logo2 {
		margin-right: 25px;
	}
	.header_logo1 {
		display: none;
	}
}
@media only screen and (max-width: 860px) {
	.header_box2 {
		flex-direction: column;
	}
	.header_logo2 {
		margin-right: 0;
		padding-top: 20px
	}
	.header_text {
		margin-right: 0;
		margin-left: 0;
	}
}
@media only screen and (max-width: 520px) {
	.header_text1 {
		font-size: 100%;
	}
	.header_text2 {
		font-size: 200%;
	}
	.header_img2 {
		width: 200px;
	}
}
@media only screen and (max-width: 420px) {
	.header_text {
		padding: 10px;
	}
	.header_text1 {
		font-size: 100%;
	}
	.header_text2 {
		font-size: 150%;
	}
	.header_img2 {
		width: 150px;
	}
}
/*---------------block1-------------*/
.block1 {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 25px 25px 0px 25px;
	text-align: center;
	/*max-width: 900px;*/
}
.block1_container1 {
	color: #0f7a0d;
	font-size: 140%;
}
.block1_container2 {
	font-size: 340%;
	padding-top: 20px;
}
.block1_container3 {
	font-size: 140%;
	padding-top: 20px;
}
@media only screen and (max-width: 1120px) {
	.block1_container2 {
		font-size: 250%;
	}
	.block1_container1, .block1_container3 {
		font-size: 120%;
	}
}
@media only screen and (max-width: 520px) {
	.block1_container2 {
		font-size: 200%;
	}
}
@media only screen and (max-width: 420px) {
	.block1_container2 {
		font-size: 150%;
	}
}
/*---------------------block2----------------*/
.block2 {
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
	margin: 50px 25px 50px 25px;
	text-align: center;
}
.block2_container1 {
	line-height: 1.4em;
	width: 300px;
}
.block2_text1 {
	font-size: 140%;
}
.block2_text2 {
	padding-top: 20px;
}
.block2_text3 {
	padding-top: 20px;
	color: #0f7a0d;
}
.a_block2 {
	text-decoration: none;
	color: #0f7a0d;
}
.a_block2:hover {
	color: #094508;
	border-bottom: 2px solid #000;
}
@media (max-width: 650px) {
	.block2 {
		margin-top: 25px
	}
	.block2_container1 {
		padding-top: 20px;
	}
	.block2_text3, .block2_text2 {
		padding-top: 10px
	}
}
/*-------------------block3--------------*/
.block3 {
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
}
.block3_images1 {
}
.block3_img {
	width: 400px;
}
@media (max-width: 1199px) {
	.block3_img {
		width: 300px;
	}
}
@media only screen and (max-width: 600px) {
	.block3_img {
		width: 200px;
	}
}
@media only screen and (max-width: 400px) {
	.block3_img {
		width: 100px;
	}
}
/*-------------block4--------------*/

/*---------------block5-----------*/
.block5 {
	margin-top: 30px;
}
/*---------------block6---------*/

/*----------block7-----------*/
.block7 {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	margin-top: 40px;
}
.block7_container1 {
	width: 400px;
}
.block7_container1_1 {
	padding-left: 25px;
	padding-right: 25px;
}
.block7_container1_2 {
	padding: 0px 25px 0px 25px;
}
.block7_container1_3 {
	padding-right: 25px;
	padding-left: 25px;
}
.block7_text1 {
	font-size: 140%;
	padding-bottom: 20px;
}
.block7_text2 {
	line-height: 1.5em;
}
.ul_block7_text2 {
}
.li_block7_text2 {
}
@media only screen and (max-width: 900px) {
	.block7_container1 {
		padding-top: 25px
	}
}
/*----------block8-----------*/

/*---------------block9------------*/
.block9 {
	display: flex;
	align-items: flex-end;
	justify-content: space-evenly;
	margin-top: 50px;
}
.block9_image1 {
}
.block9_image1_1 {
}
.block9_img {
	width: 400px;
}
.block9_image1_2 {
}
.block9_text {
}
.block9_text1 {
	width: 400px;
	margin: 0px 20px 0px 20px;
	padding: 0px 10px 0px 10px;
	line-height: 1.6em;
	font-size: 110%;
}
@media only screen and (max-width: 1250px) {
	.block9_img {
		width: 300px;
	}
}
@media only screen and (max-width: 1060px) {
	.block9_img {
		width: 200px;
	}
	.block9_text1 {
		font-size: 100%;
	}
}
@media only screen and (max-width: 850px) {
	.block9 {
		flex-wrap: wrap;
	}
	.block9_text1 {
		margin-top: 15px;
	}
}
@media only screen and (max-width: 450px) {
	.block9_text1 {
		width: 240px;
	}
	.block9_img {
		width: 100px;
	}
}
/*--------------block10--------------*/
.block10 {
	margin-top: 50px;
}
/*------------------block11--------------*/
.block11 {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	margin-top: 50px;
}
.block11_image {
}
.block11_img {
}
@media only screen and (max-width: 850px) {
	.block11_img {
		width: 100px;
	}
}
@media only screen and (max-width: 480px) {
	.block11_img {
		width: 70px;
	}
}
/*------------block12----------*/
.block12 {
	display: flex;
	justify-content: space-around;
	margin-top: 50px;
}
.block12_1 {
	display: flex;
	flex-direction: column;
	margin: 80px 15px 0px 15px;
	padding-left: 10px;
	width: 600px;
}
.block12_container1 {
	color: #0f7a0d;
	font-size: 140%;
}
.block12_container2 {
	font-size: 340%;
	margin-top: 20px;
}
.block12_container3 {
	font-size: 140%;
	margin-top: 20px;
}
.block12_2 {
	margin-right: 15px;
	padding-right: 10px;
}
.block12_img {
	width: 400px;
}
@media (max-width: 890px) {
	.block12_img {
		width: 300px;
	}
	.block12_container1, .block12_container3 {
		font-size: 120%;
	}
	.block12_container2 {
		font-size: 250%;
	}
	.block12_1 {
		margin-top: 40px;
	}
}
@media (max-width: 760px) {
	.block12 {
		flex-direction: column;
		align-items: center;
	}
	.block12_2 {
		order: 1;
		margin-right: 0px;
		padding-right: 0px;
	}
	.block12_1 {
		order: 2;
	}
	.block12_1 {
		width: 100%;
		margin-top: 20px;
	}
	.block12_container1, .block12_container2, .block12_container3 {
		margin: 0px 20px 0px 20px;
	}
	.block12_container2, .block12_container3 {
		margin-top: 10px;
	}
}
/*--------------------block13------------------------*/
.block13 {
	background-color: #000;
	display: flex;
	margin-top: 50px;
}
.block13_image {
	margin: 10px 0px 10px 20px;
	padding-left: 20px;
	padding-right: 20px;
}
.block13_image_1 {
	margin-left: 85px;
}
.block13_img {
}
.block13_img:hover {
	width: 50px;
}
@media (max-width: 760px) {
	.block13 {
		justify-content: space-around;
	}
	.block13_image {
		margin: 10px 0px 10px 0px;
		padding: 0px 0px 0px 0px;
	}
}
/*--------------block14------------*/
.block14 {
	display: flex;
	justify-content: space-around;
	align-items: flex-end;
	padding-top: 50px;
	background: #000;
	padding-bottom: 100px;
}
.block14_1 {
	display: flex;
	flex-direction: column;
	flex-basis: 50%;
	color: #fff;
}
.block14_1_text1 {
	color: #0f7a0d;
	font-size: 140%;
}
.block14_1_text2 {
	font-size: 340%;
	margin-top: 20px;
}
.block14_1_text3 {
	font-size: 140%;
	margin-top: 20px;
}
.block14_2 {
	display: flex;
	flex-direction: column;
	color: #fff;
}
.block14_2_text1 {
	font-size: 140%;
}
.block14_2_text2, .block14_2_text3 {
	font-size: 140%;
	margin-top: 10px;
}
@media (max-width: 820px) {
	.block14 {
		flex-direction: column;
		align-items: flex-start;
	}
	.block14_1 {
		margin: 0px 25px 0px 25px
	}
	.block14_2 {
		align-items: flex-start;
		margin: 50px 25px 0px 25px;	
	}
	.block14_1_text2 {
		font-size: 250%;
	}
	.block14_2_text1,.block14_2_text2,.block14_2_text3, .block14_1_text1, .block14_1_text3 {
		font-size: 120%;
	}
}
@media (max-width: 550px) {
	.block14_1_text2 {
		font-size: 200%;
	}
	.block14_2_text1,.block14_2_text2,.block14_2_text3, .block14_1_text1, .block14_1_text3 {
		font-size: 100%;
	}
}
@media (max-width: 375px) {
	.block14_2 {
		align-self: center;
	}
}
.block14_button {
}
.button {
	margin-top: 50px;
	text-decoration: none;
	border: 1px solid #61e85f;
	border-radius: 50px;
	background: #000;
	width: 200px;
	height: 50px;
	line-height: 50px;
	display: block;
	text-align: center;
	color: #fff;
	position: relative;
	overflow: hidden;
}
.button::before,
.button::after {
	position: absolute;
	left: 0;
	top: 0;
	content: '';
	width: 200px;
	height: 100%;
	background: #0f7a0d;
	border-radius: 50px;
	left: -100%;
	opacity: .5;
	transition: 0.3s;
}
.button::after {
	opacity: 1;
	transition-delay: 0.1s;
}
.button:hover::before {
	left: 0;
}